    <section class="alert alert-warning" role="alert">
       <h1><fa-icon [icon]="faSkullCrossbones"></fa-icon> Warning</h1>

       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores accusantium iusto rerum a voluptatem? Quo non exercitationem mollitia quasi facere voluptas cumque culpa totam vitae officiis, qui quos cum consequatur quisquam. Beatae, corrupti. Eius culpa explicabo ullam assumenda odio eum sint ex! Officiis veniam recusandae sint maiores autem suscipit ex placeat quos eveniet non tenetur deserunt nam asperiores maxime doloribus, in unde temporibus soluta quas beatae nihil praesentium! Optio nostrum eum nisi impedit ex saepe facere libero facilis ea.</p>

    </section>