<section class="alert alert-success" role="alert">
<h1> <fa-icon [icon]="faThumbsUp"></fa-icon> Success</h1>

<p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, minus ducimus. Enim maxime error nesciunt rem laboriosam quidem, quam, voluptatibus suscipit cum atque animi. Nobis similique nulla placeat dicta cumque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos numquam, expedita recusandae laboriosam rem quod ullam nesciunt dolorem assumenda perspiciatis reprehenderit ab earum exercitationem minima. Quasi vero iste nemo dolorem?</p>

</section>